<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado No Libre</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <header>
        <a href="/"> <img src="/images/logo-mercado-liebre.svg" alt=""></a>
    <div>
        Lugar para poner la barra de búsqueda
    </div>
    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
    </header>

    <main>
        <img width="100%" src="/images/img-home-banner.jpg" alt="">
        <section>
            <h2>Basado en tu última visita</h2>
            <div>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="100%"/>
                    <p>$6770</p>
                    <p>40% off</p>
                    <p>Cafetera moulinex</p>
                </article>
            </div>
        </section>
    
    </main>

    <footer>

    </footer>
  </body>
  
</html>
